img{
    width: 60px;
}
.category {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch; 
    margin: 15px;
    padding: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  
  .category-items {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px; 
    max-width: 200px; 
  }
  
  @media (max-width: 768px) {
    .category {
      padding: 10px; 
    }
  
    .category-items {
      max-width: none; 
      margin: 10px 0; 
    }
  }
p{
    font-weight: bolder;
    font-size: small;
    text-align: center;
}
@media (max-width: 768px) {
    img{
        width: 90px;
    } 
}

.carousel-container {
    display: flex;
    overflow: hidden;
  }
  
  .carousel-image {
    min-width: 100%;
    height: auto;
    transition: transform 0.5s ease-in-out;
  }
  
  .carousel-image.active {
    transform: translateX(-100%);
  }
  .carousel{
    margin: 15px;
  }
.footer {
    background-color: #212121;
    color: #fff;
    padding: 20px;
    margin: 15px;

  }
  
  .footer-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around;
  }
  
  .footer-section {
    flex: 1;
    margin: 10px; 
    box-sizing: border-box; 
  }
  
  .footer-section h4 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section li {
    margin-bottom: 5px;
    font-size: small;
  }
  
  .footer-bottom {
    text-align: center;
    padding: 10px 0;
    background-color: #222;
  }
  
  @media (max-width: 600px) {
    .footer-container {
      flex-direction: column; 
    }
  }
  